# Dependencies
node_modules/

# Production output
dist/
declaration/

# Local configuration
.env

# Local test SVG outputs (optional to ignore, usually generated on GitHub)
test-*.svg

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
